<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 
    <style>
    body {
        background-image: url(https://i.imgur.com/WTKSlyH.png);
        background-color: black;
        text-align: center;
        color: black;
        background-repeat: no-repeat;
        background-size: fixed;
        background-position: center center;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    </style>      
<body>
    <%- include("../partials/header.ejs") %> 
    <h1>Edit Page</h1>
    <main>
        <div>
            <form action="/stars/<%= star._id %>?_method=PUT" method="post" >
            
                <fieldset>
                    <legend>Edit a <%= star.name %></legend>
                    <label>
                        NAME: <input 
                            type="text"
                            name="name"
                            value="<%= star.name %>"
                            placeholder="enter a star name"
                        />
                    </label>
                    <label>
                        AGE: <input 
                            type="text"
                            name="age"
                            value="<%= star.color %>"
                            placeholder="enter age"
                        />
                    </label>
                    <label>
                        DECEASED: <input type="checkbox" name="deceased" <%= star.deceased ? "checked" : "" %> />
                    </label>
                </fieldset>
                <input type= "text"  name = "img" value="<%= star.img %> " required />
                <input type="submit" value="Update <%= star.name%>" />
            </form> 

        </div>

    </main>

</body>

</html>