<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
                    <article>
                        <img src="<%= star.img %> " width="100" height="100" />
                    <h2><%= star.name %> - <%= star.deceased ? "deceased" : "alive" %></h2>
                    <h3><%= "Age:"%> <%= star.age %></h3>
                    <h3><%= star.age %></h3>
                    <a href="/stars/<%= star._id %>/edit">
                        <button>Edit</button>
                    </a><form action="/stars/<%= star._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" /></form>
                    <a href="/stars/"><button>Back</button></a>
                    
                    </article>

            </div>
        </main>
    </body>
</html>