<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<style>
    body {
    background-image: url(https://i.imgur.com/qn3wj4f.jpg);
    background-color: black;
    text-align: center;
    color: black;
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    }

    h2 {
    position: relative;
    color: whitesmoke;
    font-style:italic;
    right: 400px;
    top: 150px;
    }

    img {
        position: relative;
        border-radius: 50%;
        top: 300px;
    }
    a {
        position: relative;
        left: 450px;
        bottom: 35px;
    }

    form {
        position: relative;
        left: 450px;
        bottom: 23px;
    }
   
</style>
    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
                    <article>
                        <img src="<%= star.img %> " width="200" height="200" />
                    <h2 class="info1"><%= "Name:"%> <%= star.name %></h2>
                    <h2 class="info2"><%= "Status:"%> <%= star.deceased ? "deceased" : "alive" %></h2>

                    <h2 class="info3"><%= "Age:"%> <%= star.age %></h2>
                    <a href="/stars/<%= star._id %>/edit">
                        <button>Edit</button>
                    </a><form action="/stars/<%= star._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" /></form>
                    <a href="/stars/"><button>Back</button></a>
                    
                    </article>

            </div>
        </main>
    </body>
</html>